* .skills {
    padding-top: 100px; 
    margin-bottom: 50px; 
}

.skills-info {
    text-align: center;
    margin-top: 20px; 
}

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 35px;
    font-weight: 700;
    color: rgb(36, 36, 36);
}

.navbar .logo .logo-dot {
    color: rgb(0, 0, 0);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    color: black;
    font-weight: 500;
    transition: .6s;
}

.navbar .nav-info {
    position: sticky;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: rgb(0, 0, 0);
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 5% 0;
    color: black;
    width: 100%;
}

.home-info {
    text-align: start;
}

.home-info h1 {
    font-size: 70px;
    font-weight: 700;
}

.home-info h2 {
    font-size: 50px;
    font-weight: 500;
}

.home .home-web {
    color: rgb(0, 0, 0);
    overflow: hidden;
    border-right: 4px solid white;
    white-space: nowrap;
    animation: typing 3.3s steps(25, end), blink-caret .75s 4;
    display: inline-block;
}

.home h2 {
    display: flex;
    gap: 12px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 39%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.home-info p {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    width: 80%;
}

.home-info .home-acn {
    color: rgb(0, 0, 0);
}

.home .home-info .btn-sci {
    margin-top: 30px;
}

.btn {
    color: white;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 23px;
    padding: 15px 25px;
    transition: .6s;
}

.btn:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.btn:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.home-img .img-box {
    width: 32vw;
    height: 32vw;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
    border-radius: 50%;
    padding: 5px;
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .6s;
}

.home-img .img-box .img-item img:hover {
    filter: grayscale(10%);
}

.home .home-info .btn-sci {
    display: flex;
    justify-content: start;
    align-items: center;
}

.home .home-info .btn-sci a i {
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 2.3rem;
    transition: .5s;
}

.home .home-info .btn-sci a i:hover,
.home .home-info .btn-sci a i:active {
    color: rgb(0, 0, 0);
}

.about {
    padding-top: 100px;
    margin-bottom: 50px;
    height: 100vh;
}

.contact {
    padding: 50px 5%;
    text-align: center;
}

.contact h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact form label {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
